/* CUSTOM WORDPRESS ADMIN OVERRIDES */
/* --------------------------------------------------------------
VARIABLES
-------------------------------------------------------------- */
@green: #31989F;
@blue: #0154B6;
@gray: #4C4C4C;
@lightgray: #a5a5a5;
@black: #000000;
@white: #FFFFFF;

/* --------------------------------------------------------------
CUSTOM LOGIN OVERRIDE
-------------------------------------------------------------- */
.login {
    background-color: @gray !important;
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    & #login {
        padding: 5% 0 0;
    }

    & h1 {
        background-image: url(../images/logo.png) !important;
        background-repeat: no-repeat;
        height: 150px;
        background-position: center center !important;
        background-size: contain !important;
        margin-bottom: 20px;
    }

    & a { background-image: none !important; }

    & form {
        -webkit-border-radius: 5px;
        border-radius: 5px;
        padding: 25px;
        background-color: rgba(49, 152, 159, 0.7);
        box-shadow: 0px 0px 3px #000;
    }

    & input[type="text"] {
        color: @black;
        background-color: @white;
        border-color: #dddddd;
        -webkit-border-radius: 4px;
        padding: 10px 20px;
    }

    & input[type="password"] {
        color: @black;
        background-color: @white;
        border-color: #dddddd;
        -webkit-border-radius: 4px;
        padding: 10px 20px;
    }

    & .forgetmenot input {
        margin-top: -3px;
    }

    & .button-primary {
        width: 120px;
        float: right;
        background-color: #073e55 !important;
        background: -webkit-gradient(linear, left top, left bottom, from(@blue), to(#073e55));
        background: -webkit-linear-gradient(top, @blue, #073e55);
        background: -moz-linear-gradient(top, @blue, #073e55);
        background: -ms-linear-gradient(top, @blue, #073e55);
        background: -o-linear-gradient(top, @blue, #073e55);
        background-image: -ms-linear-gradient(top, @blue 0%, #073e55 100%);
        color: #ffffff;
        -webkit-border-radius: 4px;
        border: 1px solid #032634;
    }

    & .button-primary:hover {
        background-color: #073e55 !important;
        background: -webkit-gradient(linear, left top, left bottom, from(@blue), to(#032634));
        background: -webkit-linear-gradient(top, @blue, #032634);
        background: -moz-linear-gradient(top, @blue, #032634);
        background: -ms-linear-gradient(top, @blue, #032634);
        background: -o-linear-gradient(top, @blue, #032634);
        background-image: -ms-linear-gradient(top, @blue 0%, #032634 100%);
        color: #fff;
        -webkit-border-radius: 4px;
        border: 1px solid #032634;
    }

    & .button-primary:active {
        background-color: #073e55 !important;
        background: -webkit-gradient(linear, left top, left bottom, from(@blue), to(#073e55));
        background: -webkit-linear-gradient(top, @blue, #073e55);
        background: -moz-linear-gradient(top, @blue, #073e55);
        background: -ms-linear-gradient(top, @blue, #073e55);
        background: -o-linear-gradient(top, @blue, #073e55);
        background-image: -ms-linear-gradient(top, @blue 0%, #073e55 100%);
        color: #fff;
        -webkit-border-radius: 4px;
        border: 1px solid #032634;
    }

    & label {
        color: @black;
        font-weight: 600;
        font-size: 15px;
        letter-spacing: -0.5px;
        line-height: 25px;
        margin-bottom: 10px;
        display: block;
        width: 100%;
    }

    & #backtoblog a, & #nav a {
        text-decoration: none;
        color: @green;
        font-weight: 600;
        font-size: 15px;
    }
}

.wp-admin {
    & .postbox {
        & .hndle {
            background-color: @green;
            color: @white;
        }

        & .toggle-indicator { color: @white; }
    }

    & .custom-metabox-headline {
        background: @blue;
        padding: 5px 15px;

        & h2 { color: @white; }
    }

    & #footer-thankyou a {
        color: @green;
        font-weight: 500;
        text-decoration: none;

        &:hover { color: @blue; }
    }
}

.toplevel_page_marketeros_custom_options {
    & .custom-clearfix {
        clear: both;
        float: none;
    }

    & #wpcontent {
        padding-left: 0;

        & .marketeros_custom_options-header {
            background: #808080;
            border-bottom: 1px solid black;
            padding: 20px;

            & .logo-header {
                max-height: 90px;
                float: right;
            }

            & h1 {
                float: left;
                margin-top: 2.5%;
                color: @white;
            }
        }

        & .marketeros_custom_options-content { padding: 5px 20px; }
    }
}
