/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
@import 'less/lesshat.less';
/* --------------------------------------------------------------
/* WordPress Core
-------------------------------------------------------------- */
@import 'less/wordpress-core.less';
/* --------------------------------------------------------------
/* Shortcodes Ultimate Custom - ACTIVATE ONLY IF USED
-------------------------------------------------------------- */
//@import 'less/shortcodes-ultimate-custom.less';
/* --------------------------------------------------------------
Variables
-------------------------------------------------------------- */
/* Pixels */
@1: 1px;
@2: 2px;
@3: 3px;
@4: 4px;
@5: 5px;
@10: (@5 + @5);
@15: (@10 + @5);
@20: (@10 + @10);
@25: (@20 + @5);
@30: (@15 + @15);
/* Colors */
@black: #000000;
@gray3: #333333;
@gray6: #666666;
@gray9: #999999;
@grayc: #cccccc;
@grayf0: #f0f0f0;
@green: #31989F;
@white: #ffffff;
@blue: #2B7BCB;
@orange: #FFB12A;

/* Theme commons
-------------------------------------------------------------- */
.loading:empty {
    background: url('../images/common/loading.gif') no-repeat center center;
    min-height: 32px;
    min-width: 32px;
}@import 'less/layouts.less';

/* --------------------------------------------------------------
Body default
-------------------------------------------------------------- */
html, body { height: 100%; }

body {
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    .transition(all .5s ease-in-out);
}

a {
    .transition(all .2s ease-in-out);

    &:hover { text-decoration: none; }
}

.hidden-h1 { display: none; }

/* --------------------------------------------------------------
1.- HEADER
-------------------------------------------------------------- */
.pre-header {
    background: @black;
    color: @white;
    padding: 5px 0;

    & .pre-header-form-container {
        & input { border: 0; }

        & button {
            border: 1px solid @green;
            background: @green;
            color: @white;
            border-radius: 0;
        }
    }

    & .pre-header-social-container {
        text-align: right;
        font-size: 23px;

        & .fa { padding-left: 10px; }

        & a { color: @white; }
    }
}

.the-logo {
    background: @white;
    padding: 10px 0;

    & .img-logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 200px;
        .transition(all .3s ease-in-out);
    }
}

.the-navbar {
    background: @white;
    color: @black;
    z-index: 9999999 !important;
    .transition(all .3s ease-in-out);

    & .navbar-default {
        background: none transparent;
        border: 0;
        box-shadow: none;
        margin-bottom: 0;

        & .navbar-nav {
            width: 100%;
            text-align: center;

            > li {
                float: none;
                display: inline-block;
            }

            & li {
                & a {
                    color: @black;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 15px;
                    letter-spacing: -.3px;
                }
            }

            & .active {
                & a {
                    box-shadow: none;
                    color: @black;
                    background: none transparent;
                    font-weight: 600;
                }
            }
        }
    }
}

.is-sticky {
    & .the-logo {
        & img { max-width: 120px; }
    }
}

.header-social-container {
    padding-top: 4%;
    font-size: 20px;

    & .fa { padding-left: 10px; }

    & a { color: @gray9; }
}

.navbar-options-button {
    position: absolute;
    left: 15px;
    top: 10px;
    padding: 5px;

    & .fa { cursor: pointer; }
}

.navbar-options-container {
    background: @white;
    box-shadow: 0px 0px 6px @black;
    position: fixed;
    padding: 15px;
    top: 30%;
    left: 0;
    width: auto;
    height: auto;
    .transition(all .5s ease-in-out);

    & .circle {
        border: 3px solid black;
        margin-top: 15px;
        margin-right: 20px;
        border-radius: 100%;
        height: 45px;
        width: 45px;
        display: inline-block;
    }

    & .circle-white { background: #FFF; }

    & .circle-black { background: #000; }

    & h3 {
        margin-top: 10px;
        text-transform: uppercase;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 900;
        letter-spacing: -.5px;
    }

    & .navbar-options-content {
        padding: 5px 15px;

        & span { cursor: pointer; }

        & span:nth-child(1) {
            font-size: 20px;
            padding-right: 20px;
        }

        & span:nth-child(2) { font-size: 40px; }
    }
}

.navbar-options-container-hidden { left: -100%; }

.navbar-search-button {
    position: absolute;
    right: 15px;
    top: 10px;
    padding: 5px;

    & .fa { cursor: pointer; }
}

.navbar-search-container {
    position: absolute;
    right: 2.5%;
    top: 8px;
    overflow: hidden;
    .transition(width .3s ease-in-out,
        opacity .4s ease-in-out);

    & form {
        & input {
            background: #eaeaea;
            color: #000;
            box-shadow: none;
            border: 0;
        }

        & button {
            background: #eaeaea;
            color: #000;
            box-shadow: none;
            border: 1px solid #EAEAEA;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .placeholder(#FFF);
    }
}

.navbar-search-container-hidden {
    width: 0%;
    opacity: 0;
}

.navbar-search-container-shown {
    width: 20%;
    opacity: 1;
}

/* --------------------------------------------------------------
2.- FOOTER
-------------------------------------------------------------- */
.the-footer {
    background: @black;
    color: @white;
}

.footer-menu {
    padding-bottom: 25px;

    & iframe { max-width: 100%; }

    & ul {
        padding-left: 0;
        list-style: none;
    }

    & h2 {
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 1px;
        margin-bottom: 15px;
        padding-bottom: 10px;
        border-bottom: 1px solid #616161;
    }

    & .custom-media a { color: #FFF; }
}

.footer-copy {
    background: #141414;
    color: #bdbdbd;

    & .footer-copy-content {
        & .fa { color: @green; }

        & a { color: @white; }
    }
}

/* --------------------------------------------------------------
3.- HOME PAGE
-------------------------------------------------------------- */
.special-arrow {
    height: 45px;
    width: 45px;
    display: block;
    background-size: cover !important;
    background-position: center center !important;
}
.special-arrow-prev {
    background: url('../images/slider_arrow_prev.png');
}
.special-arrow-next {
    background: url('../images/slider_arrow_next.png');
}


.the-slider {
    padding-top: 2%;
    padding-bottom: 2%;
    max-height: 70vh;
    overflow: hidden;
    margin-bottom: 40px;

    & .owl-dots {
        position: absolute;
        top: 3%;
        right: 2%;

        & span { background: #46c6a6; }
    }

    & .owl-nav {
        position: absolute;
        top: 40%;
        width: 100%;

        & .owl-prev {
            position: absolute;
            left: 0%;
            background: none !important;
            font-size: 40px !important;
            color: #cacaca;
        }

        & .owl-next {
            position: absolute;
            right: 0%;
            background: none !important;
            font-size: 40px !important;
            color: #cacaca;
        }
    }
}

.main-slider-item {
    position: relative;

    & img {
        .transition(all .3s ease-in-out);
        &:hover {
            .transition(all .3s ease-in-out);
            .filter(grayscale(70%));
        }
    }

    & .main-slider-item-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        color: @white;
        text-shadow: 0px 0px 6px #454545;
        padding: 10%;
        padding-top: 15%;
        line-height: 30px;

        & a { color: @white; }

        & .main-slider-categories {
            text-align: center;

            & a {
                color: @white;
                background: @green;
                padding: 5px 10px;
                text-transform: uppercase;
                font-weight: 600;
                margin-right: 5px;
            }
        }

        & h2 {
            font-size: 38px;
            font-weight: 900;
            line-height: 50px;
        }

        & h3 {
            font-size: 20px;
            text-transform: uppercase;
            font-weight: 400;
        }
    }
}

.media-custom {
    border-bottom: 1px solid #EAEAEA;
    padding-bottom: 10px;
    margin-bottom: 15px;

    & .media-custom-img {
        & img {
            .transition(all .3s ease-in-out);
            &:hover {
                .transition(all .3s ease-in-out);
                .filter(grayscale(70%));
            }
        }
    }

    & .media-custom-info {
        font-size: 12px;
        text-align: justify;
        display: table;
        min-height: 230px;

        & a { color: @black; }

        & .media-custom-info-wrapper {
            display: table-cell;
            vertical-align: middle;
        }

        & .date {
            font-weight: 600;
            letter-spacing: -.5px;
            font-size: 14px;
        }

        & h2 {
            margin-top: 0;
            font-size: 18px;
            font-weight: 700;
            line-height: 25px;
        }

        & h3 {
            margin-top: 0;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 400;
        }

        & .main-item-categories {
            & a {
                display: inline-block;
                margin-left: auto;
                margin-right: 10px;
                border: 0;
                background: @green;
                color: @white;
                text-transform: uppercase;
                font-size: 12px;
                padding: 12px 18px;
                margin-top: 15px;
            }
        }
    }
}

/* SPECIAL CONTAINER */
.home-main-special-container {
    color: @black;
    padding: 1% 0;
    margin: 1% 0;

    & .home-main-special-title {
        font-weight: 300;
        text-transform: uppercase;
        font-size: 28px;
        margin-top: 0;
        margin-bottom: 25px;
    }

    & .home-main-special-item-big {
        position: relative;

        & img {
            .transition(all .3s ease-in-out);
            &:hover {
                .transition(all .3s ease-in-out);
                .filter(grayscale(70%));
            }
        }

        & .home-main-special-item-big-wrapper {
            padding: 15px;
            width: 100%;
            font-size: 14px;

            & .main-item-categories {
                text-align: center;

                & a {
                    display: inline-block;
                    margin-left: auto;
                    margin-right: 10px;
                    border: 0;
                    background: @green;
                    color: @white;
                    text-transform: uppercase;
                    font-size: 12px;
                    padding: 12px 18px;
                    margin-top: 15px;
                }
            }

            & h3 {
                font-size: 30px;
                margin-top: 20;
                font-weight: 700;
                text-align: center;
            }

            & h4 {
                text-align: center;
                font-size: 14px;
                line-height: 24px;
            }

            & a { color: @black; }
        }
    }

    & .home-main-special-item-small {
        position: relative;
        min-height: 295px;

        & img {
            .transition(all .3s ease-in-out);
            &:hover {
                .transition(all .3s ease-in-out);
                .filter(grayscale(70%));
            }
        }

        & .home-main-special-item-small-wrapper {
            padding: 10px 0;
            width: 100%;

            & h3 {
                font-size: 14px;
                text-align: center;
                margin-top: 0;
                font-weight: 700;
            }

            & h4 {
                text-align: center;
                font-size: 13px;
                line-height: 18px;
                margin-top: 0px;
            }

            & a { color: @black; }
        }
    }
}

.home-sidebar {
    & ul {
        padding-left: 0;
        list-style: none;

        & .widget { margin-bottom: 20px; }

        & .widgettitle {
            background: @white;
            color: @black;
            border-bottom: 1px solid #e2e2e2;
            font-size: 20px;
            margin-top: 0;
            padding: 10px 20px;
            padding-left: 0;
            text-transform: uppercase;
            font-weight: 300;
            letter-spacing: 1px;
        }
    }
}

.custom-media {
    border-bottom: 1px solid #EAEAEA;
    margin-top: 10px;
    padding-bottom: 10px;

    & .media-object { max-width: 100px; }

    & .media-body, .media-left, .media-right { vertical-align: middle; }

    & a { color: @black; }

    & .media-body h3 {
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 5px;
    }

    & .media-heading {
        font-size: 14px;
        line-height: 25px;
        text-align: justify;
        font-weight: 600;
    }
}

/* --------------------------------------------------------------
4.- MANTENIMIENTO PAGE
-------------------------------------------------------------- */
.page-mantenimiento {
    margin-top: 5%;

    & img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 20%;
    }

    & h1 {
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 1%;
    }
}

/* --------------------------------------------------------------
5.- SINGLE POST
-------------------------------------------------------------- */
.single-options-container {
    position: fixed;
    bottom: -5px;
    z-index: 9;
    overflow: hidden;
    .transition(all .5s ease-in-out);

    & .single-options-content {
        position: relative;

        & .custom-progress {
            & progress {
                width: 100%;
                background-color: #f3f3f3;
                border: 0;
                height: 40px;
                border-radius: 0;

                &::-webkit-progress-bar { background-color: #767676; }
                &::-webkit-progress-value { background-color: @green; }
                &::-moz-progress-bar { background-color: #767676; }
            }
        }

        & .single-options-title-container {
            position: absolute;
            top: 0;
            left: 0;
            text-align: center;

            & h3 {
                font-size: 16px;
                margin-top: 11px;
                margin-bottom: 0;
                color: @white;
            }
        }
    }
}

.single-options-container-hidden {
    height: 0;
    .transition(all .5s ease-in-out);
}

.single-options-container-visible {
    height: 45px;
    .transition(all .5s ease-in-out);
}

.the-single {
    padding: 3% 0;

    & iframe {
        max-width: 100%;
        max-height: 400px;
    }

    & .youtube-player { max-height: 430px; }

    & .single-subtitle {
        font-size: 20px;
        margin-bottom: 0;
        margin-top: 30px;
        text-align: center;
        display: block;
    }

    & a { color: @green; }

    & .img-featured-single {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    & .date {
        margin-bottom: 10px;
        display: block;
        text-align: center;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: -.5px;
    }

    & .single-title {
        font-size: 30px;
        text-align: center;
        font-weight: 700;
        line-height: 40px;
        margin-top: 5px;
    }

    & .post-categories {
        text-align: center;

        & a {
            color: @white;
            background: @green;
            padding: 8px 15px;
            margin: 0 5px;
        }
    }

    & .post-content {
        font-size: 18px;
        line-height: 35px;
        .transition(all .5s ease-in-out);

        & img {
            height: auto;
            max-width: 100%;
        }
    }
}

.the-sidebar {
    padding: 2% 0;

    & #sidebar {
        padding-left: 10%;
        list-style: none;

        & .widget { margin-bottom: 20px; }

        & .widgettitle {
            background: @white;
            color: @black;
            border-bottom: 1px solid #e2e2e2;
            font-size: 20px;
            margin-top: 0;
            padding: 10px 20px;
            padding-left: 0;
            text-transform: uppercase;
            font-weight: 300;
            letter-spacing: 1px;
        }
    }
}

.the-main-body-black {
    background: #2f2f2f;
    color: @white;

    & .the-logo {
        background: #5f5f5f;
        color: #FFF;
    }

    & .the-navbar {
        background: @black;

        & a { color: #FFF !important; }
    }

    & .navbar-search-button { color: @white; }

    & .navbar-options-button { color: @white; }

    & .navbar-options-container {
        background: #2f2f2f;
        color: @white;
        box-shadow: 0px 0px 6px #5c5c5c;
    }
}

.the-single-bigger {
    & .post-content {
        font-size: 25px;
        line-height: 45px;
    }
}

.btn-mailchimp {
    color: #FFF;
    background: #31989f;
    border: 1px solid #31989F;
}

.form-control-mailchimp {
    .placeholder(#000);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.about-us {
    padding: 2%;
    padding-top: 1%;
}

.about-us-content {
    text-align: center;

    & h2 {
        font-weight: 300;
        font-size: 35px;
        margin-top: 0;
        letter-spacing: .5px;
        border-bottom: 1px solid #e6e6e6;
        margin-bottom: 35px;
        padding-bottom: 18px;
    }
}

.miembro-item {
    font-size: 16px;
    line-height: 36px;

    &:hover {
        & picture {
            & img { box-shadow: 0 0 10px #000; }
        }
    }

    & a { color: @green; }

    & picture {
        & img {
            border-radius: 100%;
            display: inline-block;
            max-width: 300px;
            .transition(all .3s ease-in-out);
        }
    }

    & h3 {
        font-size: 21px;
        text-transform: uppercase;
        font-weight: 300;
    }
}

.category-archive-container {
    & h1 {
        font-size: 35px;
        margin-bottom: 30px;
        text-align: center;
        font-weight: 300;
        padding-bottom: 10px;
        letter-spacing: .5px;
        border-bottom: 1px solid #e2e2e2;
    }
}

.archive-item {
    font-size: 14px;
    line-height: 30px;

    & h2 {
        font-size: 18px;
        margin-top: 0;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 30px;
        margin-bottom: 5px;
    }

    & a { color: #000; }

    & .date {
        font-size: 17px;
        font-weight: 700;
    }
}

.form-submit-mailchimp {
    background: #31989f;
    color: #FFF;
    border: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 5px;
}

.single-main-container { min-height: 60vh; }

.comment-main-title {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.comment-reply-title {
    font-size: 18px;
    font-weight: 600;
}

.single-comments-wordpress {
    & label {
        display: block;
        width: 100%;
        font-weight: 400;
    }

    & input, textarea {
        width: 100%;
        border: 1px solid #dddddd;
        padding: 5px;
        max-height: 100px;
    }

    & input[type=submit] {
        background: @green;
        border: 0;
        width: auto;
        padding: 10px 20px;
        color: #FFF;
        text-transform: uppercase;
        margin-left: auto;
        margin-right: 0;
        display: block;
    }

    & h5 {
        font-size: 25px;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    & li {
        list-style: none;
        padding-left: 0;
    }

    & .comment-content {
        padding: 10px 15px;
    }
}

.highlander-dark #respond label {
    color: #999 !important;
    color: rgba( 255, 255, 255, 0.6 );
}

.video-title-section h2 {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: -.5px;
    font-size: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 10px;
}

.home-main-video-item-small-container {
    margin-top: 15px;
    max-height: 400px;
    overflow: overlay;
}

.media-video {
    margin-bottom: 10px;
    border-bottom: 1px solid #f3f3f3;
    padding-bottom: 10px;

    & .media-object {
        height: 85px;
        width: auto;
    }

    & .media-body {
        vertical-align: middle;
    }

    & a {
        color: @black;
        cursor: pointer;

        &:hover {
            color: @green;
        }
    }
}

#loader {
    display: block;
    position: relative;
    left: 48%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: 15% 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: @blue;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: @green;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #000000;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg); /* IE 9 */
        transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg); /* IE 9 */
        transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg); /* IE 9 */
        transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg); /* IE 9 */
        transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
    }
}

.style-scope {
    width: 100%;
    max-width: 100%;
    white-space: normal;
    line-height: 30px;
    background: #31989f;
    border-radius: 10px;
    padding: 8px;
}

.link_about {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 17px;
    padding-left: 10px;
    line-height: 15px;
    vertical-align: 3px;
    letter-spacing: -.5px;
}


.page-container {
    & h1 {
        font-size: 25px;
        letter-spacing: -.5px;
        position: relative;
    }
}

.home-main-videos-content {
    background: #0a0a0a;
}
.home-main-videos-playlist {
    background: #0a0a0a;
    overflow: auto;
}

.home-main-videos-item {
    color: #FFF;
    border-bottom: 1px solid #3d3d3d;
    padding: 5px 10px;
    cursor: pointer;

    &  h2 {
        font-size: 18px;
        display: inline-block;
        vertical-align: top;
        padding: 0 10px;
        text-transform: uppercase;
        font-weight: 300 !important;
    }
}

.media-img {
    display: inline-block;
    max-width: 100px;
}

.section-video-title {
    font-size: 30px;
    font-weight: 300;
    padding-bottom: 5px;
    border-bottom: 1px solid #EAEAEA;
    margin-bottom: 10px;
}

.gotop {
    position: fixed;
    z-index: 99;
    bottom: 10%;
    right: 0;
    max-width: 60px;
    background: rgba(0, 0, 0, 0.80);
    padding: 10px;

    & .go-top-btn {
        max-width: 30px;
    }
}

.navbar-custom-link {
    position: relative;
    border-bottom: 2px solid transparent;

    & div {
        text-align: center;
        position: absolute;
        top: 5px;
        left: 0;
        width: 100%;
        opacity: 0;
        .transition(all .3s ease-in-out);
    }

    & span {
        opacity: 1;
        .transition(all .3s ease-in-out);
    }

    &:hover {
        border-bottom: 2px solid #48cfad;
        & div {
            opacity: 1;
            .transition(all .3s ease-in-out);
        }

        & span {
            opacity: 0;
            .transition(all .3s ease-in-out);
        }
    }
}

.img-cat-logo {
    max-width: 40px !important;
    display: inline-block;

}

.thanks-container {
    text-align: center;
    & img {
        display: inline-block;
        max-width: 400px;
        margin-top: 3%;
    }

    & h2 {
        font-size: 25px;
        font-weight: 400;
        letter-spacing: -.5px;
    }

    & h1 {
        font-size: 40px;
        font-weight: 900;
        text-transform: uppercase;
    }
}

.related-posts-container {
    &  h2 {
        font-size: 20px;
        font-weight: 600;
        letter-spacing: -.5px;
        margin-bottom: 20px;
    }

    & .related-item {
        & img {
            .transition(all .3s ease-in-out);
            &:hover {
                .filter(grayscale(70%));
            }
        }
        &  h3 {
            font-size: 15px;
            line-height: 25px;
            margin-top: 10px;
        }
    }
}

.media-custom-info-mobile {
    margin-bottom: 20px;
}
