/* - GENERAL MEDIAQUERIES ARCHIVE - */
/* --------------------------------------------------------------
 MEDIAQUERIES LG/MD - LAYOUTS BIGGER THAN 992px
 -------------------------------------------------------------- */
//@media (max-width: 1920px) {
//
//}
//@media (max-width: 1680px) {
//
//}
//@media (max-width: 1600px) {
//
//}
//@media (max-width: 1440px) {
//
//}
//@media (max-width: 1366px) {
//
//}
//@media (max-width: 1280px) {
//
//}
@media (max-width: 1170px) {
    .media-custom .media-custom-info h2 { font-size: 15px; }

    .media-custom .media-custom-info .date {
        letter-spacing: 0px;
        font-size: 12px;
    }

    .media-custom .media-custom-info .main-item-categories a {
        padding: 12px 12px;
        margin-top: 10px;
    }

    .custom-media .media-heading {
        font-size: 14px;
        line-height: 18px;
    }

    .custom-media .media-body h3 {
        font-size: 13px;
        font-weight: 300;
        margin-bottom: 10px;
    }

    .home-main-special-container .home-main-special-item-small { min-height: 250px; }

    .miembro-item {
        font-size: 14px;
        line-height: 30px;
    }

    .miembro-item h3 { font-size: 18px; }

    .the-navbar .navbar-default .navbar-nav { width: 80%; }
}
//@media (max-width: 1024px) {
//
//}
//@media (max-width: 992px) {
//
//}
/* --------------------------------------------------------------
 MEDIAQUERIES SM - LAYOUTS BIGGER THAN 768px
 -------------------------------------------------------------- */
@media (max-width: 991px) {
    .page-mantenimiento img { max-width: 50%; }

    .the-navbar .navbar-default .navbar-nav li a {
        font-weight: 600;
        font-size: 11px;
    }

    .media-custom-info-wrapper h3 { font-size: 16px; }

    .media-custom .media-custom-info h2 { font-size: 14px; }

    .custom-media .media-heading {
        font-size: 12px;
        line-height: 18px;
        text-align: justify;
        font-weight: 600;
    }
}
//@media (max-width: 800px) {
//
//}
@media (max-width: 768px) {
    .the-logo .img-logo { max-width: 150px; }

    .header-social-container {
        padding-top: 1%;
        text-align: center;
    }

    .navbar-search-button {
        left: 15px;
        right: auto;
    }

    .navbar-search-container {
        left: 8.5%;
        right: auto;
    }

    .navbar-search-container { display: none; }

    .the-navbar .navbar-default .navbar-nav { width: 100%; }

    .main-slider-item .main-slider-item-wrapper h2 {
        font-size: 20px;
        line-height: 30px;
    }

    .about-us-content h2 {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .miembro-item {
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 50px;
    }

    .footer-menu { text-align: center; }

    .category-archive-container h1 { font-size: 23px; }

    .home-main-posts-container { padding: 0; }

    .home-main-section-item { padding: 0; }

    .media-custom-img {
        padding: 0;

        & img {
            width: 100% !important;
            max-width: 100% !important;
        }
    }

    .media-custom .media-custom-info {
        display: block;
        min-height: 59px;
    }
}

/* --------------------------------------------------------------
 MEDIAQUERIES XS - LAYOUTS LESS THAN 768px
 -------------------------------------------------------------- */
@media (max-width: 600px) {
    .home-sidebar { display: none; }

    .the-slider {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .the-slider .owl-nav { top: 60%; }

    .main-slider-item .main-slider-item-wrapper h2 { font-size: 15px; }

    .main-slider-item .main-slider-item-wrapper {
        padding: 5%;
        padding-top: 5%;
    }

    .media-custom .media-custom-info .media-custom-info-wrapper { display: inline-block; }

    .footer-copy-content h6 {
        line-height: 25px;
        text-align: center;
    }

    .page-mantenimiento img { max-width: 95%; }
}
//@media (max-width: 533px) {
//
//}
//@media (max-width: 414px) {
//
//}
//@media (max-width: 375px) {
//
//}
//@media (max-width: 360px) {
//
//}
//@media (max-width: 320px) {
//
//}
//@media (max-width: 240px) {
//
//}
